.App {
  text-align: center;
}

.App-logo {
  height: 100%;
  pointer-events: none;
  padding-left: 0;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #000000;
  height: 10vh;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: left;
  font-size: calc(10px + 2vmin);
  color: white;
  padding-left: 5vw;
  padding-right: 5vw;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }

  to {
    transform: rotate(360deg);
  }
}

.summarize-button {
  margin-left: auto;
}

.conversation-summary-container {
  display: flex;
  gap: 0.2em;
  background-color: #000000;
  height: 100%;
}

.conversation-summary-container * {
  background-color: #ffffff;
  height: 90vh;
}

.conversation-summary-container .conversation {
  flex: 1.5
}

.conversation-summary-container .summary {
  flex: 1
}